# create SparkSession

In [67]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("spark_reads").master("local[4]").getOrCreate()

In [45]:
csv_input_path=r'C:\Users\Sanjay Bedwal\Desktop\practice\spark\files\csv\input\order1.csv'

In [83]:
csv_df=spark.read.csv(csv_input_path)
csv_df.show(truncate=False)

+--------+---------------------+-----------------+---------------+
|_c0     |_c1                  |_c2              |_c3            |
+--------+---------------------+-----------------+---------------+
|order_id|order_date           |order_customer_id|order_status   |
|1       |2013-07-25 00:00:00.0|11599            |CLOSED         |
|2       |2013-07-25 00:00:00.0|256              |PENDING_PAYMENT|
|3       |2013-07-25 00:00:00.0|12111            |COMPLETE       |
|4       |2013-07-25 00:00:00.0|8827             |CLOSED         |
|5       |2013-07-25 00:00:00.0|11318            |COMPLETE       |
+--------+---------------------+-----------------+---------------+

In [84]:
csv_df=spark.read.option('header',True).csv(csv_input_path)
csv_df.show(truncate=False)

+--------+---------------------+-----------------+---------------+
|order_id|order_date           |order_customer_id|order_status   |
+--------+---------------------+-----------------+---------------+
|1       |2013-07-25 00:00:00.0|11599            |CLOSED         |
|2       |2013-07-25 00:00:00.0|256              |PENDING_PAYMENT|
|3       |2013-07-25 00:00:00.0|12111            |COMPLETE       |
|4       |2013-07-25 00:00:00.0|8827             |CLOSED         |
|5       |2013-07-25 00:00:00.0|11318            |COMPLETE       |
+--------+---------------------+-----------------+---------------+

In [85]:
csv_df.schema

StructType([StructField('order_id', StringType(), True), StructField('order_date', StringType(), True), StructField('order_customer_id', StringType(), True), StructField('order_status', StringType(), True)])

In [86]:
csv_df.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)

In [87]:
# csv_df=spark.read.option('header',True).option('inferSchema',True).csv(csv_file_path)
csv_df=spark.read.options(header=True,inferSchema='True').csv(csv_input_path)
csv_df.show(truncate=False)

+--------+-------------------+-----------------+---------------+
|order_id|order_date         |order_customer_id|order_status   |
+--------+-------------------+-----------------+---------------+
|1       |2013-07-25 00:00:00|11599            |CLOSED         |
|2       |2013-07-25 00:00:00|256              |PENDING_PAYMENT|
|3       |2013-07-25 00:00:00|12111            |COMPLETE       |
|4       |2013-07-25 00:00:00|8827             |CLOSED         |
|5       |2013-07-25 00:00:00|11318            |COMPLETE       |
+--------+-------------------+-----------------+---------------+

In [88]:
csv_df.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

# enforcing the schema

In [30]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,TimestampType

In [89]:
class student:
    pass

s1=student()

print(type(s1))

<class '__main__.student'>

In [101]:
# create table stud 
# (
#     id int,
#     name char(10)
    
# )

# write code here ----------------------

# schema=StructType(
#     [
#        StructField("order_id",IntegerType()), 
#        StructField("order_date",TimestampType()),
#        StructField("order_customer_id",IntegerType()),
#        StructField("order_status",StringType()),
        
#     ]
# )

# schema



schema=StructType(
[
    StructField('order_id',IntegerType(),False,{"description" : 'This is a id of an order'}),
    StructField('order_date',TimestampType()),
    StructField('order_customer_id',IntegerType()),
    StructField('order_status',StringType())
]
)

schema.names

['order_id', 'order_date', 'order_customer_id', 'order_status']

In [99]:
csv_schema=StructType(
[
   StructField( 'order_id', IntegerType()) ,
   StructField( 'order_date', TimestampType()) ,
   StructField( 'order_customer_id', IntegerType()) ,  
   StructField( 'order_status', StringType()) ,   
]
)

# convert avro schema to spark schema 
# schema evoution , version maintain , 

csv_df=spark.read.options(header=True).schema(csv_schema).csv(csv_input_path)
csv_df.printSchema()
csv_df.show()
# csv_df.schema['order_id']

root
 |-- order_id: integer (nullable = true)
 |-- order_date: timestamp (nullable = true)
 |-- order_customer_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|            12111|       COMPLETE|
|       4|2013-07-25 00:00:00|             8827|         CLOSED|
|       5|2013-07-25 00:00:00|            11318|       COMPLETE|
+--------+-------------------+-----------------+---------------+

In [68]:

from pyspark.sql.types import StructType, StructField, StringType, IntegerType


# Define a schema with metadata
schema = StructType([
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True),
    StructField("city", StringType(), True),
    StructField("salary", IntegerType(), True, {"description": "Employee salary in USD"})
])

# Create a DataFrame with the defined schema
data = [("Alice", 30, "New York", 50000),
        ("Bob", 25, "San Francisco", 60000),
        ("Charlie", 35, "Los Angeles", 75000)]

df = spark.createDataFrame(data, schema=schema)

# Show the DataFrame
df.show()

# Print the metadata for the "salary" column
print("Metadata for the 'salary' column:")
print(df.schema["salary"].metadata)

+-------+---+-------------+------+
|   name|age|         city|salary|
+-------+---+-------------+------+
|  Alice| 30|     New York| 50000|
|    Bob| 25|San Francisco| 60000|
|Charlie| 35|  Los Angeles| 75000|
+-------+---+-------------+------+

Metadata for the 'salary' column:
{'description': 'Employee salary in USD'}